body {

    background-color: #46aeda;
    width: 90%;
    margin: 50px auto;
}

main {
    direction: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    margin-top: 90px;
    font-size: 2em;
    font-family: monospace;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: red;
    text-decoration: underline;
}

h1{
    font-family: 'Baloo Bhai', sans-serif; 
    font-size: 4em; 
    text-align: center;
    padding: 50px;
    color: #efe140;
}

.container {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 25px;
}

p {
    /* height: 30vh; */
    padding: 10px;
    color: black;
    background-color: white;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: #46aeda;
    border-radius: 10px;
}

div {
    /* height: 350px; */
    width: 200px;
    color: #46aeda;
}

.image {
    width: 100%;
}

.uniform-edit {
    width: 23%;
}