body {
    background-color: #001a44;
}

h1{
    font-family: 'Baloo Bhai', sans-serif; 
    font-size: 4em; 
    text-align: center;
    padding: 50px;
    color: #efe140;
}

container{
    display: flex; flex-direction: row;
    justify-content: space-evenly;
    padding-top: 25px;
}

p{
    height: 300px;
    padding: 10px;
    color: black;
    background-color: white;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: #46aeda;
    border-radius: 10px;
    
}

div{
    height: 450px;
    width: 200px;
    color: #46aeda;
}

.image{
    width: 200px;
    padding-bottom: 10px;
}