body {
  background-color: #001a44;
  color: #46aeda;
  font-family: 'Baloo Bhai', sans-serif;
  font-size: 1.5em;
}

.hidden {
  display: none;
}

.display-main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  max-width: 960px;
}

.display {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100px;
  margin: 5px;
}

div {
  background-color: #46aeda;
  margin: 5px auto;
  min-height: 50px;
  width: 95%;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  background-color: #001a44;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

.timer {
  height: 100px;
  width: 150px; 
  background-color: red;
  position: relative;
}

.sample-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

.sample-div img {
  width: 150px;
  height: 150px;
}

.sample-div h2 {
  display: flex;
  margin-top: 20px;
  font-size: 2.5em;
  justify-content: center;
  align-items: center;
}
section .over-lay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efe140;
  color: black;
  border: 10px solid #001a44;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 150px;
  height: 70px;
  font-size: 2.5em;
}

display.split.right {
  position: relative;
} 

.title-div {
  height: 15%;
  background-color: #001a44;
  color: #46aeda;
}

.score-div {
  height: 30%;
  background-color: #001a44;
}

.no-padding {
  margin: 0px 0px 5px auto;
}

.title-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20%;
  background-color: #001a44;
}

.question-div p {
  margin: 0;
}

.yellow {
  color: #efe140;
}

.answer-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 25%;
  background-color: #001a44;
  padding-bottom: 20px;
  border-bottom: 2px solid #46aeda;
}

.individual-answers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  /* height: 10%; */
  padding: 7px;
  color: #001a44;
}

.individual-answers p {
  margin: 0;
  font-size: 1.1em;
}

.small-answer-text {
  font-size: 0.7em;
}

.individual-answers:hover {
  background-color: #efe140;
  cursor: pointer;
}

.score-div {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: space-around;
  align-items: center;
  height: 25%;
  padding-top: 10px;
  background-color: #001a44;
}

.player {
  height: 100%;
  width: 95%;
  text-align: center;
  background-color: #001a44;
}

.white-smoke {
  color: whitesmoke;
}

.player-select {
  background-color: #001a44;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.player-select p {
  text-align: center;
  width: 40%;
}

.active-player {
  border: #efe140 5px solid;
}

.picked-player h3 {
  color: red;
}

.correct-response {
  color: green;
  font-size: 1.4em;
  text-align: center;
}

.wrong-response {
  color: red;
  font-size: 1.4em;
  text-align: center;
}

.continue {
  background-color: #efe140;
  border: #001a44 2px solid;
  border-radius: 10px;
  color: #001a44;
  text-align: center;
}