body {
  background-color: #001a44;
}

.display-main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  max-width: 960px;
}

.display {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100px;
  margin: 5px;
}

div {
  background-color: #46aeda;
  margin: 5px auto;
  min-height: 50px;
  width: 95%;
}