/* MAIN */
body {
  background-color: #001a44;
  color: #46aeda;
  font-family: 'Baloo Bhai', sans-serif;
  font-size: 1.5em;
  width: 100%;
  height: 100%;
}

h1 {
  color: #efe140;
  font-size: 3em;
  margin: 10px auto;
  height: 12%;
  background-color: #001a44;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;

}

.hidden {
  display: none;
}

main {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.display {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100px;
  margin: 5px;
}

div {
  background-color: #46aeda;
  margin: 5px auto;
  min-height: 50px;
  width: 95%;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  background-color: #001a44;
}

/* RIGHT SIDE */
.right {
  right: 0;
}

.right-side-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

h2 {
  color: whitesmoke;
}

.right-side-div img {
  width: 150px;
  height: 150px;
}

.right-side-div h2 {
  display: flex;
  margin-top: 20px;
  font-size: 2.5em;
  justify-content: center;
  align-items: center;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efe140;
  color: black;
  border: 10px solid #001a44;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 150px;
  height: 70px;
  font-size: 2.5em;
}

/* LEFT SIDE */
.left {
  left: 0;
}

/* QUESTION AREA */
.question-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20%;
  background-color: #001a44;
}

.question-head {
  color: whitesmoke;
}

.question-div p {
  margin: 0;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
}

.correct-response {
  color: #3A7D44;
  font-size: 1.4em;
  text-align: center;
}

.wrong-response {
  color: #C1292E;
  font-size: 1.4em;
  text-align: center;
}

/* USER INTERACTION AREA */
.answer-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 25%;
  background-color: #001a44;
  padding-bottom: 20px;
  border-bottom: 2px solid #46aeda;
}

.individual-answers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 40%;
  padding: 7px;
  color: #001a44;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.3s ease-in-out;
  animation: flip 1s forwards ease;
}

.individual-answers:hover {
  background-color: #efe140;
  cursor: pointer;
}

.individual-answers p {
  margin: 0;
  font-size: 1.2em;
  text-align: center;
}

.small-answer-text {
  font-size: 0.7em;
}

/* Animation for individual answers class */
@keyframes flip {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0);
  }
}

/* PLAYER DISPLAY AREA */
.score-div {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: space-around;
  align-items: center;
  height: 25%;
  padding-top: 10px;
  background-color: #001a44;
}

.player {
  height: 85%;
  width: 95%;
  text-align: center;
  background-color: #001a44;
  border-radius: 10px;
}

.player-select {
  background-color: #001a44;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.player-select p {
  text-align: center;
  width: 40%;
}

.active-player h3 {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    color: #C1292E;
  }
  50% {
    color: black;
  }
  100% {
    color: #C1292E;
  }
}

.picked-player {
  animation: flash 0.75s forwards ease;
}

.picked-player p {
  animation: squash 1s ease;
  color: black;
}

@keyframes flash {
  0% {
    background-color: #001a44;
    border: #001a44 5px solid;
  }
  25% {
    background-color: #001a44;
    border: #efe140 5px solid;
  }
  100% {
    background-color: #E3CE63;
    border: #efe140 5px solid;
  }
}

@media only screen and (max-width: 760px)  {
  /* Styles */
  main {
    font-size: 15px;
  }

  .right {
    display: none;
  }

  .left {
    width: 100%;
    height: 100%;
  }
}
