body{
    background-color: #001a44;
    color: #46aeda;
    text-align: center;
    width: 960px;
    margin: 0 auto;
    font-family: 'Baloo Bhai', sans-serif;
}

h1{
    font-size: 4em;
    padding: 20px;
    

}

h2{
    padding: 10px;
    font-size: 1.5em;
}

.playerControl{
    padding-top: 10px;
    display: flex; 
    justify-content: space-evenly;
    width: 30%;
    margin: 5px auto;
    font-size: 3em;
}

.playerControl button{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 1.2em;
    line-height: 0.8px;
}

form input{
    display: block;
    width: 30%;
    margin: 15px auto;
    font-size: 1.5em;
}

#start-button{
    font-size: 2em;
    width: 80%;
}

button:hover{
    cursor: pointer;
    background-color: #efe140;
}

a{
    font-size: 2em;
    font-family: monospace;
    display: block;
    padding: 20px;
    color: #46aeda;
}

a:hover{
    color: red; 
}


