<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About Us</title>
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai" rel="stylesheet">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/about.css">
</head>

<body>
  <header>
    <h1>About Us</h1>
  </header>
  <main>
    <section class="container">
      <div class="Neth uniform-edit">
        <img class="image" src="..\images\nethTvChroma.png" />
        <p>Neth is a MERN stack developer who enjoys making websites while asking things like "how can this site be more inviting?" and "what if it looked like a site in the 90s but not awful?" Neth likes the Flying Toasters screen savers more than he should probably admit. Neth is a cat and dog person, but not a people person.</p>
      </div>
      <div class="Jimmy uniform-edit">
        <img class="image" src="..\images\jimmyTvChroma.png" />
        <p>Jimmy is a world class competitive eater. He competes against himself. When not coding or eating, he's found pretending to hike mountains or catching up on sleep. Jimmy is looking forward to building unique solutions that utilizes his skillset.</p>
      </div>
      <div class="Nic uniform-edit">
        <img class="image" src="..\images\nicTvChroma.png" />
        <p>I enjoy long walks through my livingroom. Competetitive athlete throughout life. Made a sharp turn to the couch life, But learned that I like my bed better. Ambitiously unambitious with fragment of Intellegence, threrefore I see no meaning in life as we know it.</p>
      </div>
      <div class="Tre uniform-edit">
        <img class="image" src="..\images\treTvChroma.png" />
        <p>Tre boogie is a full-stack developer from the city of Los Angeles who spends his leisure time as a beer fanatic and avid sports fan.  He was once heard saying “If it’s physical and competitive” then It’s for me. He hopes to develop his own healthcare application that will aid in a service for the benefit of humanity.</p>
      </div>
    </section>
    <footer>
      <a class="font" href="../index.html">Back to the Game</a>
    </footer>
  </main>
</body>

</html>