<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Just Another Game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  <link rel="stylesheet" type="text/css" href="../css/display.css" />
  
</head>
<body>
  <main class="display-main">
    <section class="display display-left">
      <div class="question-div">

      </div>
      <div class="answer-div">

      </div>
      <div class="score-div">

      </div>
    </section>
    <section class="display display-right">
      <div class="sample-div">

      </div>
      <div class="sample-div">

      </div>
      <div class="sample-div">

      </div>
    </section>
  </main>
</body>
</html>