<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Just Another Game</title>
</head>
<body>
  <section>
    <!-- main display for questions and categories -->
  </section>
  <section>
    <!-- secondary display for user interaction -->
  </section>
  <section>
    <!-- section for player data boxes -->
  </section>
  <footer>
    <!-- link to quit game and app identification -->
  </footer>
</body>
</html>