<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Just Another Game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/display.css" />
  
</head>
<body>
  <main class="display-main">
    <section class="display split left">
      <div class="title-div">
        <h1 class="yellow">J.A.G: Just Another Game</h1>
      </div>
      <div class="question-div">
        <p class="white-smoke">Question:</p>
        <p>If you're watching a game show hosted by Peter Tomarken, what are you likely watching?</p>
      </div>
      <div class="answer-div">
          <div class="individual-answers div-class"><p>Press Your Luck</p></div>
          <div class="individual-answers div-class"><p>Password</p></div>
          <div class="individual-answers div-class"><p>Supermarket Sweep</div>
          <div class="individual-answers div-class"><p>Joke'rs Wild</p></div>
      </div>
      <div class="score-div">
        <div class="player">
          <h3 class="yellow">Player 1</h3>
          <p class="white-smoke">500</p>
        </div>
        <div class="player">
          <h3 class="yellow">Player 2</h3>
          <p class="white-smoke">500</p>
        </div>
        <div class="player">
          <h3 class="yellow">Player 3</h3>
          <p class="white-smoke">500</p>
        </div>
        <div class="player">
          <h3 class="yellow">Player 4</h3>
          <p class="white-smoke">500</p>
        </div>
      </div>
    </section>
    <section class="display split right div-class">
      <div class="over-lay">
        <p>112</p>
      </div>
      <div class="sample-div no-padding div-class">
        <h2 class="white-smoke">Rounds Remaining</h2>
      </div>
      <div class="sample-div div-class">
        <img src="../images/head.png" alt="head with question mark">
      </div>
    </section>
  </main>
</body>
</html>