<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Arvo" rel="stylesheet">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>
  <h1>How To Play</h1>
  <main class="how-to-play">
    <p>This is a trivia game. Each player starts with 500 points. When it's your turn you'll be shown a category. You can decide to answer the question yourself or you can force another player to answer.</p>

    <p>If you keep the question and answer correctly, you get nothing! If you get it wrong, you'll lose 100 points. However, if you pass the question and the player you pass to gets it right, you'll lose 200 points. If the player you pass a question to gets it wrong, they will lose 100 points.</p>

    <p>There is no way to get points back. Play continues until one player loses all of their points or until the question pool for that game has been exhausted. There are no winners. The object of the game is to not be the one who loses. Are you the dummest person in the room? Time to find out!</p>

    <a href="../index.html">Back to the Game</a>
  </main>
</body>
</html>