<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rules</title>
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Arvo" rel="stylesheet">
  <link  href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet"type="text/css">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/howtoplay.css">
</head>

<body>
  <h1 class="font">How To Play</h1>
    <ul>

      <li>
        <a href="#">
          <h2>Rule 1:</h2>
          <p>is a trivia game. Each player starts with 500 points.</p>
        </a>
      </li>

      <li>
        <a href="#">
          <h2>Rule 2:</h2>
          <p>When it's your turn you'll be shown a category.</p>
        </a>
      </li>

      <li>
        <a href="#">
          <h2>Rule 3:</h2>
          <p>You can decide to answer the question yourself or you can force another player to answer.</p>
        </a>
      </li>

      <li>
        <a href="#">
          <h2>Rule 4:</h2>
          <p>If you keep the question and answer correctly, you get nothing!</p>
        </a>
      </li>

      <li>
        <a href="#">
          <h2>Rule 5:</h2>
          <p>If you get it wrong, you'll lose 100 points.</p>
        </a>
      </li>

      <li>
        <a href="#">
          <h2>Rule 6:</h2>
          <p>If you pass the question and the player you pass to gets it right,you'll lose 200 points.</p>
        </a>
      </li>

      <li>
        <a href="#">
          <h2>Rule 7:</h2>
          <p>If they get it wrong they will lose 100 points. </p>
        </a>
      </li>

      <li>
        <a href="#">
          <h2>Rule 8:</h2>
          <p>There is no way to get points back.</p>
        </a>
      </li>

      <li>
        <a href="#">
          <h2>Rule 9:</h2>
          <p>Play continues until one player loses all of their points or until the question pool for that game has been exhausted.</p>
        </a>
      </li>

      <li>
        <a href="#">
          <h2>Rule 10:</h2>
          <p>There are no winners.</p>
        </a>
      </li>

      <li>
        <a href="#">
          <h2>Rule 11:</h2>
          <p>The object of the game is to not be the one who loses.</p>
        </a>
      </li>

      <li>
        <a href="#">
          <h2>Rule 12:</h2>
          <p>Are you the least intelligent person in the room? Time to find out!</p>
        </a>
      </li>
    </ul>
    <a class="back" href="../index.html">Back to the Game</a>
</body>

</html>