<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1 id="name"></h1>
  <script>
    var h1 = document.getElementById('name');
    var loser = JSON.parse(localStorage.getItem('loser'));
    var numberOfPlayers = parseInt(localStorage.getItem('totalPlayers'));
    console.log(loser.length);
    var names = '';
    loser.forEach(function(loser) {
      names += loser.name + ' '
    });
    if (numberOfPlayers === loser.length) {
      h1.innerText = 'EVERYBODY LOSES!!!!';
    } else if (loser.length > 1) {
      h1.innerText = `Today\'s losers: ${names}`;
    } else {
      h1.innerText = `Today\'s loser is ${names}`;
    }
  </script>
</body>
</html>