<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai" rel="stylesheet">
  <link rel="shortcut icon" href="../images/favicon.png">
  <link rel="stylesheet" href="../css/loser.css">
</head>
<body>
  <main>
    <p class="hidden fade-in-text"></p>
    <p class="align-right hidden fade-in-text"></p>
    <p class="hidden fade-in-text"></p>
    <div id="bottom-half" class="hidden">
      <p class="align-center">Congratulations?</p>
      <a href="../index.html" class="play-again">Play Again?</a>
      <p class="credit-p"><a href="about.html" class="credit-link">Credits</a></p>
    </div>
  </main>
  <script src="../js/loser.js"></script>
</body>
</html>